* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (min-width: 992px) {
    .header--app {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        border: 1px solid #555;
        overflow: hidden;
    }
}

.header--app {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border: 1px solid #555;
    overflow: hidden;
}