* {
    box-sizing: border-box;
}

.header--nav-navigation {
    flex: 1 0 3%;
    padding: 2rem;
    margin: 0 auto;
    border: 1px solid #555;
}

.nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 1rem;
    border: 1px solid #555;
    border-radius: 10px;

}

.menu-item {
    padding: 0;
    border-radius: 8px;
}

.menu-item > a.item-link {
    width: auto;
    height: auto;
    font-size: 15px;
    font-weight: 700;
    color: #333;
    text-decoration: none;
    padding: .5rem .7rem;
    background-color: #fff;
    border: 1px solid #777;
    border-radius: 8px;
    transition: all .2s;
}

.menu-item > a.item-link:hover {
    background-color: #ccc;
}